.detail_book {
    display: flex;
    flex-direction: column;

    .head {
        display: flex;
        justify-content: center;       
    }

    .body {
        width: 70%;
        margin: 0 auto;

        .book_images {
            width: 100%;        

            .detail_book_image { 
                width: 100%;            
                height: 400px;
                object-fit: cover;
                overflow-y: auto;
                margin-top: 30px;   
                background-color: white;         
            }
        }

        .book_infos_section {
            width: 100%;       
            padding: 14px;     
            
            .book_title {
                font-size: 30px;
                color: white;
            }

            .book_infos {
                border-radius: 8px;
                background-color: #DFF6FF;
             
                table {
                    font-family: Arial, Helvetica, sans-serif;
                    border-collapse: collapse;                
                    width: 100%;
                    
                    td, th {
                        text-align: left;                    
                        padding: 14px;
                    }                
                }                
            }

            .book_description {
                background-color: #fff;
                padding: 14px;
                border-radius: 8px;
                height: 290px;
                overflow-y: auto;
                margin-top: 14px;
            }
        }

        .btn_favorite {
            background-color: #47B5FF;
            color: white;
            border: 2px solid #DFF6FF;
            width: 160px;     
            height: 40px;
            line-height: 40px;     
            padding: 8px 20px;  
            padding-top: 0;

            &:disabled{
                background:  #fff;
                color: #ccc;
                cursor: grab;
            }

            &:hover{
                background-color: #DFF6FF;
                border-color: #47B5FF;
                color: #47B5FF;
            }
        }
    }
}

@include mediaSm {
    .detail_book {
        .head {
            display: none;   
        }

        .body { 
            width: 100%;

            .book_infos_section {
                .book_title {
                    text-align: center;
                }

                .book_description {
                    margin-top: 1rem;
                    height: 150px;
                    overflow: auto;
                }
            }
        }
    }
}